<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @facility.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @facility.description %>
</p>

<p>
  <strong>Shot title:</strong>
  <%= @facility.shot_title %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
