<div class="top-header">
	<div class="container">
		<div class="logo">
			<a href="index.html"><img src=<%=image_path("logo.png") %>/></a>
		</div>
		<span class="menu"> </span>
		<div class="m-clear"></div>
		<div class="top-menu">
			<ul>
				<li class="active"><%= link_to "HOME", pages_home_path %></li>
				<li><%= link_to "FACILITIES", pages_facilities_path %></li>
				<li><%= link_to "RESTAURANT", pages_restaurant_path %></li>
				<li><%= link_to "CONFERENCE", pages_conference_path %></li>
				<li><%= link_to "BOOKING", pages_booking_path %></li>
				<li><%= link_to "CONTACT US", pages_contact_us_path %></li>
			</ul>
			<script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle(200);
					});
				</script>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner">
	<div class="banner-info text-center">
		<h3><label>Hello,</label> You've Reached</h3>
		<h1>HOANG GIA HOTEL</h1>
		<span></span>
		<ul>
			<li><a class="scroll" href="#">HOTEL</a><i class="line"></i></li>
			<li><a class="scroll" href="#">SPA SALOON</a><i class="line2"></i></li>
			<li><a class="scroll" href="#">FINE DINING</a></li>
			<div class="clearfix"></div>
		</ul>
	</div>
</div>